<div class="row mt-3">
    <div class="col-md-10 m-auto">
      <div class="card card-body">
        <h2 class="text-right mb-2"><img src="/img/dnata_big.png" alt="logo" height="20px"></h2>
        <hr>
        <h1 class="text-center mb-3"><i class="fas fa-users"></i>  Users</h1>
        <% include ./partials/messages %>
        
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
              <span class="input-group-text blue lighten-3" id="findString"><i class="fas fa-search text-white"
                  aria-hidden="true"></i></span>
            </div>
            <input class="form-control my-0 py-1" type="text" id="myInput" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <a class="btn btn-outline-primary" href="/users/register"><i class="fas fa-user-plus"></i> Add new </a>
            </div>
            <div class="input-group-append">
              <a class="btn btn-danger" href="/dashboard"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </div>
          </div>
        <table class="table table-hover" id="tableUsers">
            <thead class="bg-light">
                <tr>
                    <th onclick="sortTable(0)"> ID</th>
                    <th onclick="sortTable(1)"> Name</th>
                    <th onclick="sortTable(2)"> eMail</th>
                    <th onclick="sortTable(3)"> Department</th>
                    <th onclick="sortTable(4)"> Level</th>
                    <th onclick="sortTable(5)"> Cards</th>
                    <th onclick="sortTable(6)"> Active?</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <% if (user.isactive=="on") { %>
                        <tr class="active">
                            <td><a href="/users/<%= user._id%>"> <%= user.uid%> </a></td>
                            <td><%= user.name%></td>                        
                            <td><%= user.email%></td>
                            <td><%= user.dep%></td>
                            <% if (user.level=== 'admin') { %>
                              <td class="text-danger font-weight-bold"><%= user.level%></td>
                            <% } else if (user.level === 'manager') {%>
                              <td class="text-primary font-weight-bold"><%= user.level%></td>
                            <% } else {%>
                              <td class="font-weight-bold"><%= user.level%></td>
                            <%}%>
                            <td><%= user.cards%></td>
                            <td class="text-success"><strong>Yes</strong></td>
                        </tr>
                    <% } else { %>
                        <tr class="text-danger">
                            <td><a href="/users/<%= user._id%>"> <%= user.uid%> </a></td>
                            <td><%= user.name%></td>                        
                            <td><%= user.email%></td>
                            <td><%= user.dep%></td>
                            <% if (user.level=== 'admin') { %>
                              <td class="text-danger font-weight-bold"><%= user.level%></td>
                            <% } else if (user.level === 'manager') {%>
                              <td class="text-primary font-weight-bold"><%= user.level%></td>
                            <% } else {%>
                              <td class="font-weight-bold"><%= user.level%></td>
                            <%}%>
                            <td><%= user.cards%></td>
                            <td class="text-danger"><strong>No</strong></td>
                        </tr>  
                    <% } %>
                <% }) %>   
            </tbody>
        </table>


      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tableUsers");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tableUsers tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>